.sidebar {
    width: 79px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #d9d9d9;
    align-items: center;
}

.sidebar-logo {
    display: flex;
    justify-content: center;
    margin: 0.75rem;
}

.sidebar-logo img {
    border-radius: .75rem;
    border: 1px solid rgb(209 213 219);
    height: 48px;
}

.sidebar-profile img{
    border-radius: 50%;
    height: 48px;
    border: 1px solid rgb(209 213 219);
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.sidebar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.sidebar a svg{
    font-size: 20px;
}

.sidebar a:hover svg{
    transform: scale(1.1) !important;
}

.sidebar a span{
    margin-top: 10px;
    font-size: 10px;
    border-radius: 0.75rem;
}

.sidebar-bottom a{
    background-color: rgb(243 244 246);
    padding: 0px 10px 10px 10px;
    border-radius: 9999px;
}

.active , .sidebar a:hover span:first-of-type{
    color: #4f46e5;
    background-color: rgb(238 242 255);
    padding: 0.5rem;
}
